.navbar {
  padding: 0 !important;
  height: 70px !important;
  background-color: white;
  .nav-link.for-me {
    color: #e10000 !important;
  }
}

.react-icons {
  cursor: pointer;
  font-size: 1.5rem;
}
